<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOE图书馆</title>
    <link rel="stylesheet" href="../static/CSS/home.css">
</head>

<body>
    <!-- 1.头部区域开始 -->
    <div class="header w">
        <!-- logo部分 -->
        <div class="logo">
           <a href="./home.html" target="_self"><img src="../static/images/logo_home.jpg" alt="" title="图书馆" height="42px"></a>
        </div>
        <!-- 导航栏标签 -->
        <div class="nav">
            <ul>
                <li><a href="#">首页</a></li>
                <li><a href="#">书库</a></li>
                <li><a href="#">排行</a></li>
            </ul>
        </div>

        <!-- 导航栏搜索 -->
        <div class="search">
            <input type="text" placeholder="输入关键词">
            <button></button>
        </div>
        <!-- 用户模块 -->
        <div class="user">
            <img src="../static/images/user.jpg" alt="" style="vertical-align:middle;">
            'perhaps
        </div>

    </div>
    <!-- 头部区域结束 -->
    <!--2. banner部分开始 -->
    <div class="banner">
        <!-- 版心 -->
        <div class="w">
            <div class="subnav">
                <ul>
                    <li><a href="#">精品小说<span>></span></a></li>
                    <li><a href="#">人物传记<span>></span></a></li>
                    <li><a href="#">社会文化<span>></span></a></li>
                    <li><a href="#">历史<span>></span></a></li>
                    <li><a href="#">哲学宗教<span>></span></a></li>
                    <li><a href="#">个人成长<span>></span></a></li>
                    <li><a href="#">文学<span>></span></a></li>
                    <li><a href="#">计算机<span>></span></a></li>
                    <li><a href="#">经济理财<span>></span></a></li>
                </ul>
            </div>
            <!-- course 课程表模块 -->
            <div class="course">
                <h2>我的在读</h2>
                <div class="bd">
                    <ul>
                        <li>
                            <h4>继续阅读 白夜行</h4>
                            <p>正在阅读-第五章</p>
                        </li>
                        <li>
                            <h4>继续阅读 三体</h4>
                            <p>正在阅读-第十九章</p>
                        </li>
                        <li>
                            <h4>继续阅读 福尔摩斯</h4>
                            <p>正在阅读-红发会</p>
                        </li>
                        <a href="#" class="more">我的书架</a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- banner部分结束 -->
    <!-- 精品推荐模块 -->
    <div class="goods w">
        <h3>我的偏好</h3>
        <ul>
            <li><a href="#">东方玄幻</a></li>
            <li><a href="#">现代都市</a></li>
            <li><a href="#">脑洞创意</a></li>
            <li><a href="#">历史架空</a></li>
            <li><a href="#">军事战争</a></li>
        </ul>
        <a href="#" class="mod">修改兴趣</a>
    </div>
    <!-- 精品推荐模块结束 -->
    <!-- 4.box核心内容其余开始 -->
    <div class="box w">
        <div class="box-hd">
            <h3>精品推荐</h3>
            <a href="#">查看全部</a>
        </div>
        <div class="box-bd">
            <ul class="clearfix">   
                <li>
                    <em>
                        HOT
                    </em>
                    <img src="../static/images/widget1.jpg" alt="">
                    <h4>罗马尼亚三部曲 (《狐狸那时已是猎人》...)</h4>
                    <div class="info"><span>热门</span> • 10135人正在阅读</div>
                </li>
                <li>
                    <em>
                        NEW
                    </em>
                    <img src="../static/images/widget2.jpg" alt="">
                    <h4>逆袭 (大多数的单位斗争，起于人事调动...)</h4>
                    <div class="info"><span>热门</span> • 8043人正在阅读</div>
                </li>
                <li>
                    <em>
                        NEW
                    </em>
                    <img src="../static/images/widget3.jpg" alt="">
                    <h4>解甲 (“传说，这世间最锋利的兵器名唤...)</h4>
                    <div class="info"><span>新书</span> • 7348人正在阅读</div>
                </li>
                <li>
                    <em>
                        HOT
                    </em>
                    <img src="../static/images/widget1.jpg" alt="">
                    <h4>罗马尼亚三部曲 (《狐狸那时已是猎人》...)</h4>
                    <div class="info"><span>热门</span> • 10135人正在阅读</div>
                </li>
                <li>
                    <em>
                        NEW
                    </em>
                    <img src="../static/images/widget2.jpg" alt="">
                    <h4>逆袭 (大多数的单位斗争，起于人事调动...)</h4>
                    <div class="info"><span>热门</span> • 8043人正在阅读</div>
                </li>
                <li>
                    <em>
                        NEW
                    </em>
                    <img src="../static/images/widget3.jpg" alt="">
                    <h4>解甲 (“传说，这世间最锋利的兵器名唤...)</h4>
                    <div class="info"><span>新书</span> • 7348人正在阅读</div>
                </li>
                <li>
                    <em>
                        HOT
                    </em>
                    <img src="../static/images/widget1.jpg" alt="">
                    <h4>罗马尼亚三部曲 (《狐狸那时已是猎人》...)</h4>
                    <div class="info"><span>热门</span> • 10135人正在阅读</div>
                </li>
                <li>
                    <em>
                        NEW
                    </em>
                    <img src="../static/images/widget2.jpg" alt="">
                    <h4>逆袭 (大多数的单位斗争，起于人事调动...)</h4>
                    <div class="info"><span>热门</span> • 8043人正在阅读</div>
                </li>
                <li>
                    <em>
                        NEW
                    </em>
                    <img src="../static/images/widget3.jpg" alt="">
                    <h4>解甲 (“传说，这世间最锋利的兵器名唤...)</h4>
                    <div class="info"><span>新书</span> • 7348人正在阅读</div>
                </li>
                <li>
                    <em>
                        HOT
                    </em>
                    <img src="../static/images/widget1.jpg" alt="">
                    <h4>罗马尼亚三部曲 (《狐狸那时已是猎人》...)</h4>
                    <div class="info"><span>热门</span> • 10135人正在阅读</div>
                </li>
            </ul>
        </div>
    </div>
    <!-- box核心内容其余结束 -->
    <!-- 5.footer模块制作 -->
    <div class="footer ">
        <div class="w">
            <div class="links">
                <dl>
                    <dt>关于图书馆</dt>
                    <dd><a href="#">关于</a></dd>
                    <dd><a href="#">管理团队</a></dd>
                    <dd><a href="#">更新日志</a></dd>
                    <dd><a href="#">新闻中心</a></dd>
                    <dd><a href="#">了解我们</a></dd>
                </dl>
                <dl>
                    <dt>新手指南</dt>
                    <dd><a href="#">如何注册</a></dd>
                    <dd><a href="#">如何搜索图书</a></dd>
                    <dd><a href="#">意见反馈</a></dd>
                    <dd><a href="#">帮助中心</a></dd>
                </dl>
                <dl>
                    <dt>合作机构</dt>
                    <dd><a href="#">合作机构</a></dd>
                    <dd><a href="#">合作图书馆</a></dd>
                </dl>
            </div>
            <div class="copyright">
                <img src="../static/images/logo_home.jpg" alt="">
                <p>Copyright©京东方科技集团股份有限公司 版权所有<br>
                    京ICP备12041691号 京公网安备11010502026582 -非经营性-2017-0039</p>
                <!-- <a href="#" class="app">下载APP</a> -->
            </div>
        </div>
    </div>
    <!-- footer模块结束 -->
</body>

</html>