<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录页面</title>
    <link rel="stylesheet" href="../static/CSS/login.css">
</head>
<body>
    <div class="container">
        <div class="div-description">
            <img src="../static/images/login1.jpg" alt="">
        </div>
        <div class="div-form">
            <form action="" class="form-login" method="post">
                <h1>图书馆</h1>
                <input type="text" placeholder="帐号" name="username">
                <input type="password" placeholder="密码" name="password">
                <button type="submit">登录</button>
                <div class="control">
                    <span>没有帐号？<a href="#">注册</a></span>
                </div>
            </form>
            <form action="" class="form-register disappear">
                <h1>图书馆</h1>
                <input type="text" placeholder="帐号">
                <input type="password" placeholder="密码">
                <button type="submit">注册</button>
                <div class="control">
                    <span>已有帐号？<a href="#">登录</a></span>
                </div>
            </form>
        </div>
        <div class="div-description">
            <img src="../static/images/login1.jpg" alt="">
        </div>
    </div>

    <script>
        var btn = document.querySelectorAll('.control a')
        var formContainer = document.querySelector('.div-form')
        var form = document.querySelectorAll('.div-form form')

        // 切换注册
        btn[0].addEventListener('click', function(e) {
            form[0].classList.add('disappear')
            form[1].classList.remove('disappear')
            formContainer.style.transform = 'rotateY(180deg)'
        })
        // 切换登录
        btn[1].addEventListener('click', function(e) {
            form[1].classList.add('disappear')
            form[0].classList.remove('disappear')
            formContainer.style.transform = 'none'
        })
    </script>
</body>
</html>