<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pdf在线预览</title>
    <script src="../static/JS/pdfobject.js"></script>
    <style>
        html, body, #pdf_viewer {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    <div id="pdf_viewer"></div>
</body>
    <script type="text/javascript">
        if(PDFObject.supportsPDFs){
            PDFObject.embed('../static/book/threebody.pdf', '#pdf_viewer');
        }else {
            location.href='/canvas';
        }
    </script>
</html>